.area {
  width: 100%;
  height: 104px;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.icons {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.icons li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.icons li a:hover {
  color: #0d6efd;
}
