.hero {
  width: 100%;
  height: calc(100vh - 104px);
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.avatar {
  width: 250px;
  margin-bottom: 30px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

.divider {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.divider span {
  width: 80px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
}

.divider i {
  font-size: 32px;
}

.text {
  font-size: 20px;
  font-weight: 400;
}
